<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="../src/Thermostat.js"></script>
    <script src="../jquery.js"></script>
    <script src="../src/interface.js"></script>
    <link rel="stylesheet" type="text/css" href="/main.css">

  </head>

  <body id="main-image">

    <h1>Thermostatic</h1>

    <div class="thermostat">
      <br>
      <br>
      <button class="change_temperature" id="increase">+</button>
      <button class="change_temperature" id="decrease">-</button>
      <div id="temperature"></div>
      <button class="powersave_on" id="powersave">PSM On/Off</button>
      <br>
      <button id="reset_temperature">reset</button>
      <br>
      <br>
      <div>Energy usage</div>
      <div class="main_energy">
      <div class="energy_usage" id="low-usage"></div><div id="medium-usage" class="energy_usage"></div><div id="high-usage" class="energy_usage"></div></div>
    </div>

    
    <section class="weather">
        <!-- <h1>Current temperature: <span id="current-temperature"></span></h1> -->
        <h1>Current weather: <span id="current-weather"></span></h1>
        <h1>Current location: <span id="current-location"></span></h1>
    </section>

  </body>
</html>
